.activityItemContainer {
	border: solid 1px #ccc;
	background-color: #F3F6F7;
    height: 88px;
    width: 194px;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	transition: transform 0.3s ease-in-out;
}

.activityItemContainer:hover {
	transform: scale(1.1);
}

.titleContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	margin-top: 10px;
	margin-left: 14px;
}

.title {
	font-size: 14px;
	font-weight: 600;
    opacity: 0.8;
}

.arrowIcon {
	font-size: 14px;
    opacity: 0.7;
}

.value {
	margin-left: 14px;
	font-size: 38px;
    font-weight: 600;
}