.header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0px;
  padding: 7px 0 9px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}

.mainContainer {
  margin-top: 80px;
  width: 100%;
}

.selectContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.selectContainer .selectDev {
  width: 18em;
  text-align: center;
}

.totalActivityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: 24px 15px 24px 30px;
}

.chartContainer {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  width: 66.5rem;
}

.chartSelect {
  width: 36em;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}